<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Bank</title>
    <link type="text/css" rel="stylesheet" href="../styles/home.css"/>
</head>
<body>
<header>
<article id="toplayer">
<figure>
    <img id="logo" src="../images/logo.png"/>
</figure>
    <figure>
        <img id="banner" src="../images/banner.jpg"/>
    </figure>
</article>
<menu>
    <ul>
        <a href="#">
        <li>
        Media
    </li>
        </a>
        <a href="login.html">
        <li>
            Career
        </li>
        </a>
        <a href="#">
        <li>
            Investor Relationships
        </li>
        </a>
        <a href="#">
        <li>
            Media
        </li>
        </a>
        <a href="#">
        <li>
            Research
        </li>
        </a>
        <a href="#">
        <li>
            Positive Impact
        </li>
        </a>
        <a href="#">
        <li>
            Responsibility
        </li>
        </a>
        <a href="#">
        <li>
            Contact
        </li>
        </a>
    </ul>

</menu>

</header>
<hr>
<section id="middle">

<article>
    <figure>
        <img src="../images/future-of-payments-640x400.jpg"/>
    </figure>
    <header>
        <h6>flow article | July 22, 2021</h6>
        <h1>Reimagining the future of payments</h1>
    </header>
    <p>
        The pandemic has accelerated the pace of change over the past year and bank-led merchant solutions are among the responses to a huge shift in payment methods and the boost to e-commerce, reports Helen Sanders

    </p>
</article>
<article>
    <figure>
        <img src="../images/inflation-where-next-960x450.jpg"/>
    </figure>
    <header>
        <h6>flow article  | July 9, 2021</h6>
        <h1>Taiwan’s green energy revolution</h1>
    </header>
    <p>
        By attracting international corporates and financing with a partnership approach to offshore wind farms, Taiwan is driving renewable energy growth. flow’s Clarissa Dann provides an overview of two large, syndicated export credit agency deals
    </p>
</article>
<article>
    <figure>
        <img src="../images/Taiwans-green-energy-revolution-640x400.jpg"/>
    </figure>
    <header>
        <h6>flow article  | July 2, 2021</h6>
        <h1>Inflation: where next?</h1>
    </header>
    <p>
        As inflation moves upwards, central banks continue to assert that the increase is transitory. Yet a return to “uncomfortable levels” is a very real prospect as the US economy undergoes its biggest shift of direction in four decades and others follow its lead, reports flow’s Graham Buck
    </p>
</article>
<article>
    <figure>
        <img src="../images/Token+power640x400.jpg"/>
    </figure>
    <header>
        <h6>flow article  | June 25, 2021</h6>
        <h1>Token power</h1>
    </header>
    <p>
        Despite its volatility, Bitcoin can no longer be ignored and one country has made it legal tender. Where does this leave corporate treasurers and investors – and the financial services industry? flow's Clarissa Dann reports on the prospect of a brave new tokenised world
    </p>
</article>
</section>
<footer>

</footer>
</body>
</html>
